<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error.css">
    <title>Error| Location not found</title>
</head>

<body>

    <header>
        <div class="logo">
            <svg width="314" height="187" viewBox="0 0 314 187" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M94.3749 137.291C118.586 137.291 138.212 117.818 138.212 93.7966C138.212 69.7751 118.586 50.3019 94.3749 50.3019C70.1641 50.3019 50.5374 69.7751 50.5374 93.7966C50.5374 117.818 70.1641 137.291 94.3749 137.291Z"
                    fill="#FFCE31" />
                <path
                    d="M112.119 43.0529L94.3748 0.59375L76.6311 43.0529C82.3717 42.0173 88.1123 41.4995 94.3748 41.4995C100.637 41.4995 106.378 42.0173 112.119 43.0529Z"
                    fill="#FFCE31" />
                <path
                    d="M76.6311 144.541L94.3748 187L112.119 144.541C106.378 145.576 100.637 146.094 94.3748 146.094C88.1123 146.094 82.3717 145.576 76.6311 144.541Z"
                    fill="#FFCE31" />
                <path
                    d="M145.519 111.402L188.313 93.7967L145.519 76.1917C146.563 81.8874 147.085 87.5831 147.085 93.7967C147.085 100.01 146.563 105.706 145.519 111.402Z"
                    fill="#FFCE31" />
                <path
                    d="M43.2312 76.1917L0.4375 93.7967L43.2312 111.402C42.1875 105.706 41.6656 100.01 41.6656 93.7967C41.6656 87.5831 42.1875 81.8874 43.2312 76.1917Z"
                    fill="#FFCE31" />
                <path
                    d="M142.909 70.4963L160.653 28.0371L117.859 45.6421C122.556 48.7489 127.253 52.3735 131.428 57.0336C136.125 61.176 139.778 65.8361 142.909 70.4963"
                    fill="#FFCE31" />
                <path
                    d="M45.8408 117.098L28.097 159.557L70.8908 141.952C66.1939 138.845 61.497 135.22 57.322 130.56C52.6252 126.418 48.972 122.275 45.8408 117.098"
                    fill="#FFCE31" />
                <path
                    d="M117.859 141.952L160.653 159.557L142.909 117.098C139.778 121.758 136.125 126.418 131.428 130.56C127.253 135.22 123.078 138.845 117.859 141.952"
                    fill="#FFCE31" />
                <path
                    d="M70.8908 45.6421L28.097 28.0371L45.8408 70.4963C48.972 65.8361 52.6252 61.176 57.322 57.0336C61.497 52.3735 66.1939 48.7489 70.8908 45.6421"
                    fill="#FFCE31" />
                <path
                    d="M115.25 163.699C111.075 163.699 106.378 163.181 102.203 161.628C85.503 155.932 74.0217 140.398 74.0217 122.793C74.0217 110.884 79.2405 100.01 88.1124 92.2432C90.1999 90.172 92.8092 88.6187 95.4186 87.0653L98.028 77.745C104.812 54.4442 126.731 37.8748 151.781 37.8748C154.39 37.8748 157 37.8748 159.609 38.3926C161.697 38.9104 164.306 39.4282 166.394 39.946L167.437 37.8748C177.353 20.2698 196.662 8.8783 217.016 8.8783C248.328 8.8783 273.9 33.7324 273.9 64.8001V70.4958C276.509 71.5314 278.597 72.567 280.684 73.6026C295.819 82.4051 305.212 98.4568 305.212 115.544C305.212 138.327 289.556 157.485 267.116 162.663C263.462 163.699 259.809 163.699 256.156 163.699H115.25"
                    fill="white" />
                <path
                    d="M217.538 16.6454C244.153 16.6454 266.072 37.875 266.072 64.2825V67.907C255.113 68.9426 244.675 73.085 236.847 79.8163C242.588 76.1918 249.894 74.6384 257.2 74.6384C259.809 74.6384 262.419 75.1562 265.028 75.1562C269.203 76.1918 273.378 77.7451 277.553 79.8163C289.556 86.5476 297.906 99.4925 297.906 114.509C297.906 133.667 284.338 149.719 266.594 153.343C263.463 153.861 260.853 154.379 257.722 154.379H115.25C111.597 154.379 107.944 153.861 104.813 152.825C91.7658 148.683 82.372 136.256 82.372 121.758C82.372 111.92 86.547 103.117 93.8533 97.4213C96.9845 94.8324 100.638 92.7612 104.813 91.2078C108.466 90.1722 112.119 89.1366 115.772 89.1366C126.21 89.1366 136.125 94.3146 141.866 102.081H142.388C135.603 89.1366 122.035 80.3341 106.9 78.7807C112.641 59.1045 130.906 44.6063 152.825 44.6063C154.913 44.6063 157.522 44.6063 159.609 45.1241C163.784 45.6419 168.481 47.1953 172.135 48.7486C186.747 54.9622 197.706 68.9426 199.794 84.9943V84.4765C199.794 65.8359 190.4 49.7842 175.788 40.4639C183.094 27.0013 199.272 16.6454 217.538 16.6454V16.6454ZM217.538 0.59375C195.097 0.59375 174.744 11.9852 162.741 30.108H161.175C157.522 29.5902 154.913 29.5902 151.781 29.5902C123.078 29.5902 98.0283 48.2308 90.2001 75.674L88.1126 81.8875C86.0251 82.9231 83.9376 84.4765 82.372 86.0299C71.4127 95.3502 65.1501 108.813 65.1501 122.793C65.1501 144.023 78.7189 162.663 99.072 169.395C104.291 170.948 109.51 171.984 114.728 171.984H256.156C260.331 171.984 264.506 171.466 269.203 170.43C295.297 164.735 313.563 141.952 313.563 115.544C313.563 95.3502 302.603 76.7096 284.859 66.8715C283.816 66.3537 283.294 65.8359 282.25 65.3181V64.8003C282.25 29.5902 253.025 0.59375 217.538 0.59375V0.59375Z"
                    fill="#B6C1D1" />
            </svg>
            <h1 id="icon">WeatherTV</h1>
        </div>
    </header>
    <div class="container">
        <h1 class="err_message">Location ' <%-wrongplace %> ' is not found </h1>
        <a class="return" href="/">Go Back</a>
    </div>

</body>

</html>